@use "../../styles//global.scss";
@use "../../styles/mixins.scss" as *;
.dashboard {
  background-color: #f1e3da;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__overview {
    font-size: 0.8rem;
    text-decoration: underline;
    padding: 0 1rem;

    @include tablet {
      font-size: 1rem;
      padding: 0.5rem 2rem;
    }
  }
  &__section-one {
    width: 100%;
  }
}

.overview {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
  }
}
