@use "../../styles/mixins.scss" as *;

.sidenav {
  background-color: #000000;
  min-height: 100vh;
  color: #ffffff;
  text-align: center;
  padding-top: 3rem;
  position: fixed;
  width: 12vw;

  &__logo {
    display: none;

    @include desktop {
      display: block;
      padding-left: 1rem;
      width: 8rem;
    }
  }

  &__list {
    list-style: none;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include desktop {
      display: flex;
      padding: 4rem 1rem;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  &__item {
    color: #ffffff;
    margin-bottom: 2rem;
    text-decoration: none;
  }

  &__item:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
  }
  &__link {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
  }

  &__link--active {
    @extend .sidenav__link;
    text-decoration: underline;
    text-underline-offset: 10px;
  }

  &__icon {
    height: 1.5rem;
    width: 1rem;
    padding-top: 0.5rem;
    margin-right: 0.5rem;
  }
  &__option {
    display: none;

    @include desktop {
      display: inline;
    }
  }
}
