@use "../../styles/mixins.scss" as *;

.navtop {
  background-color: #f2eae5;
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  color: black;
  position: fixed;
  top: 0;
  width: 88vw;
  z-index: 1;
  justify-content: space-between;
  border-bottom: 2px solid #ffffff;

  @include tablet {
    height: 3rem;
    padding: 0.5rem 2rem;
  }
  &__heading {
    margin-top: 0;
    font-size: 1rem;

    @include tablet {
      font-size: 1.5rem;
    }
  }
  &__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.user {
  display: flex;

  @include tablet {
    height: 2.5rem;
  }

  &__avatar {
    width: 1.2rem;
    height: 1.2rem;

    @include tablet {
      width: 2rem;
      height: 2rem;
    }
  }
  &__name {
    font-size: 0.8rem;
    font-weight: 600;
    margin: auto 0;

    @include tablet {
      font-size: 1rem;
      font-weight: 600;
      margin: auto 0.5rem;
    }
  }
  &__display-options {
    border: none;
    background: none;
  }
  &__arrow {
    width: 0.6rem;
    height: auto;
  }

  &__options {
    background-color: #ffffff;
    padding: 1rem;
    margin-left: auto;
    border-radius: 1rem;

    width: 5rem;
  }
  &__options--notvissible {
    display: none;
  }

  &__option {
    color: #000000;
    text-decoration: none;
  }
}
