@use "../../styles/global.scss" as *;
@use "../../styles/mixins.scss" as *;

.login {
  @include background;

  &__form {
    @include user-form;

    height: 15rem;
    width: 18rem;
    padding: 1rem 1rem;

    @include tablet {
      height: 20rem;
      width: 20rem;
      padding: 3rem 2.5rem;
    }
  }

  &__input {
    @extend .add-form__input;
    margin-bottom: 1rem;
  }
  &__label {
    @extend .add-form__label;
  }
  &__button {
    @extend .buttons-section__button;
    margin-left: auto;
    margin-top: 2rem;
  }
}
