@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin input {
  border-radius: 0.5rem;
  border: 1px solid #f0f0f0;
  background-color: #f9f9f9;
}

@mixin project-card {
  height: 8rem;
  width: 20rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet {
    height: 10rem;
    width: 17rem;
  }

  @include desktop {
    width: 20rem;
  }
}

@mixin theme-one {
  background-image: url("../../public/bg1.jpg");
}
@mixin theme-two {
  background-image: url("../../public/bg2.jpg");
}

@mixin theme-three {
  background-image: url("../../public/bg3.jpg");
}

@mixin theme-four {
  background-image: url("../../public/bg4.jpg");
}

@mixin theme-five {
  background-image: url("../../public/bg5.jpg");
}
@mixin box-shadow {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

@mixin taskboard {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@mixin background {
  background-color: antiquewhite;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin user-form {
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 20rem;
  padding: 3rem 2.5rem;
  background-color: black;
  color: white;
}
